/*----------상품 디테일 페이지 ----------*/
.detail_wrap {
  margin-top: 50px;
  display: flex;
  align-items: center;

  //상품 이미지
  .detail_img {
    flex-basis: 20%;
    flex-shrink: 0;
    margin-right: 30px;

    img {
      object-fit: contain;
      width: 100%;
      height: 18rem;
    }
  }
  // 상품 인포
  .detail_info {
    flex-basis: auto;

    h2 {
      text-align: left;
      font-size: 22px;
      font-weight: bold;
      color: var(--color-black);
    }
    p {
      margin-bottom: 15px;
      line-height: 24px;
      color: var(--color-black);

      &.detail_price {
        margin: 20px 0;
        font-size: 26px;
      }
    }
    button {
      margin-right: 15px;
    }
  }
}
