.star_rating {
  display: flex;
  align-items: center;
}

.star_rating svg {
  font-size: 35px;
  color: var(--color-yellow);
}

.star {
  padding-left: 10px;
}

.star,
.count {
  margin-right: 5px;
  color: var(--color-black);
}

.star_rating.small,
.star_rating.small svg {
  font-size: 14px;
}
