.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  gap: 20px;
}

@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .products.scrollX {
    padding: 0 10px;
    overflow-x: auto;
    grid-template-columns: repeat(4, 330px);
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
