.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}
.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 100;
}

.modal_box {
  padding: 30px;
  min-width: 450px;
  background-color: var(--color-white);
  border-radius: 10px;
}
.modal_box p {
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--color-black);
}
.modal_box .title {
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  text-align: right;
}
.buttons button {
  margin-left: 10px;
}
