.common_inner {
  margin: 0 auto;
  max-width: 1400px;
  min-height: 58vh;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: var(--color-black);
}

@media (max-width: 1024px) {
  .common_inner {
    max-width: 95%;
  }
}
