.footer {
  padding: 50px 0 20px 0;
  margin-top: 70px;
  width: 100%;
  background-color: var(--color-grey);
  text-align: center;
}

.footer ul {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer ul li {
  margin: 0 10px;
}
.footer ul li svg {
  font-size: 24px;
}

.footer p {
  margin-bottom: 30px;
}
.footer a {
  color: var(--color-black);
}
